* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: auto;
}

.container {
    max-width: 1140px;
    margin: auto;
}

section {
    margin: ($spacing*15) 0 ($spacing*5);
}

p, span {
    color: $color-nine;
    font-family: 'Work Sans', sans-serif;
}

.clearer {
    color: $color-three;
}

p {
    font-size: $font-size;
    text-transform: uppercase;
}


li {
    font-family: 'Work Sans', sans-serif;
    padding-bottom: $spacing;
    &:hover {
        border-bottom: solid 1px $color-five;
    }
}

h1 {
    font-family: 'Lora', serif;
    margin: $spacing*2 0 $spacing*3;
    color: $color-five;
}

.chevron-container {
    width: 30px;
    height: 60px;
    background-color: $color-eight;
    color: $color-one;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.chevron-left {
    left: 0;
}

ul {
    display: flex;
        list-style: none;
        color: $color-five;
        li {
            margin-right: $spacing*2;
        }
}

.text-container-hover {
    display: none;
    .text-card-slider-hover {
    @include absolute_top;
    @include width_height_max;
    @include flex_column;
    justify-content: center;
    align-items: center;
    }
}

.fixed-container {
    position: fixed;
    right: 20px;
    top: 100px;
    z-index: 999;
    .fixed-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: $color-one;
        margin-top: 5px;
        padding: $spacing*0.5;
        width: 60px;
        height: 60px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 20px 5px #9C9C9C;
        -moz-box-shadow: 0px 0px 20px 5px #9C9C9C;
        -o-box-shadow: 0px 0px 20px 5px #9C9C9C;
        box-shadow: 0px 0px 20px 5px #9C9C9C;
        position: relative;
        font-family: 'Inter', sans-serif;
        color: $color-eighteen;
        img {
            width: 30px;
        }
        h2, h4 {
            color: $color-twentyfour;
        }
        h4 {
            position: absolute;
            top: 5px;
            left: 5px;
        }
    }
}