* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: auto;
}

.container {
    max-width: 1140px;
    margin: auto;
}

section {
    margin: ($margin*15) 0 ($margin*5);
}

p, span {
    color: $color-three;
}

h1 {
    margin: $margin*2 0 $margin*3;
    color: $color-five;
}

.chevron-container {
    width: 30px;
    height: 60px;
    background-color: $color-eight;
    color: $color-one;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.chevron-left {
    left: 0;
}