footer {
    padding: $spacing*10;
    height: 500px;
    @include flex_row;
    .footer-container {
        width: 50%;
        height: 100%;
        @include flex_column;
    }
    .footer-left {
        justify-content: space-between;
        img {
            width: 180px;
        }
        ul {
            p {
                background-color: $color-four;
                padding: 0 8px;
                border-radius: 10px;
                margin-left: -15px;
            }
        }
    }
    .footer-right {
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        color: $color-five;
        .email-input {
            input {
                height: 100%;
                width: 300px;
                border: solid 1px rgb(238, 238, 238);
                border-radius: 5px;
                padding-left: $spacing;
                margin-right: $spacing;
            }
        }
        .social-container-footer {
            i {
                font-size: $font-size*2;
                width: 50px;
            }
        }
        .button-scroll-top {
            position: absolute;
            background-color: $color-fourteen;
            color: $color-one;
            border-radius: 5px;
            bottom: -80px;
            width: 40px;
            height: 40px;
            @include center_x_y;
        }
    }

}