// ///////////////////////////////////////////// - SECTION 1 - /////////////////////////////////////////////////////
.section-1 {
    @include space-between;
    .text-card-1 {
        width: calc((100% - 30px) / 3);
        height: 400px;
        padding-right: $padding*3;
    }
    .slider-container-1 {
        width: calc(((100% - 30px) / 3) * 2);
        @include space-between;
        .img-container-1 {
            width: calc((100% - 30px) /2);
            position: relative;
            img {
                width: 100%;
            }
        }
    }
}
// ///////////////////////////////////////////// - SECTION 2 - /////////////////////////////////////////////////////
.section-2 {
    text-align: center;
    .img-container-2 {
        @include space-between;
        position: relative;
        top: 0;
        .img-card-2 {
            margin-top: $margin*2;
            width: calc((100% - 80px) / 2);
            position: relative;
            top: 0;
            &:hover {
                .img-2 {
                    display: none;
                }
                .img-hover-container-2 {
                    display: block;
                }
            }
            img {
                width: 100%;
            }
            .img-hover-container-2 {
                display: none;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                .img-2-hover {
                    width: 100%;
                    height: 100%;
                    filter: contrast(60%) brightness(60%);
                    z-index: 0;
                    margin-bottom: $margin*2;
                }
                .text-container-2 {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    padding: $padding*4;
                    position: absolute;
                    top: 0;
                    h1 {
                        color: $color-one;
                    }
                    button {
                        margin: 0 $margin*15;
                        flex-shrink: 0;
                    }
                }
            }




            
        }
    }

}
// ///////////////////////////////////////////// - SECTION 3 - /////////////////////////////////////////////////////

.section-3 {
    @include space-between;
    align-items: center;
    text-align: center;
    .text-card-3 {
        width: calc(100% / 4);
        height: 100%;
        margin-right: $margin*5;
        h1 {
            @include h1_small;
            color: $color-five;
        }
        button {
            margin-top: $margin*2;
        }    
    }
    .slider-container-3 {
        width: ((100% / 4) * 3);
        @include space-between;
        align-items: center;
        .img-card-3 {
            position: relative;
            width: calc((100% - 60px) / 4);
            img {
                width: 100%;
            }
            h4 {
                margin: $margin*2 0;
                color: $color-five;
            }
        }
    }
}
// ///////////////////////////////////////////// - SECTION 4 - /////////////////////////////////////////////////////
.section-4 {
    .row {
        width: 100%;
        position: relative;
        .image-container-4 {
            width: 100%;
            height: 550px;
            filter: contrast(60%) brightness(60%);
            z-index: 0;
            margin-bottom: $margin*2;
        }
        .text-container-4 {
            width: 100%;
            height: 100%;
            padding: $padding*4;
            position: absolute;
            top: 0;
            h1 {
                color: $color-one;
                font-size: $font-size*4;
                width: 500px;
            }
            .p-number {
                font-size: $font-size*7;
                color: $color-one;
                order: 2;
                position: absolute;
                right: 40px;
                top: 40px;
            }
            .p-container {
                position: absolute;
                bottom: 60px;
                max-width: 400px;
                p {
                    margin-bottom: $margin;
                }
                span {
                    color: $color-one;
                }
            }
        }      
    }
    .row-top {
        .image-container-4-top {
            background-image: url("/img/bakery-process-1.jpg");
            background-size: 140% 120%;
            background-position-y: -70px;
        }   
        .text-container-4-top {
            .p-container {
                right: 60px;
            }
        }
    }
    .row-mid {
        .image-container-4-mid {
            width: calc(50% - 10px);
            height: 500px;
            background-image: url("/img/bakery-process-2.jpg");
            background-size: 115% 100%;
            background-position-x: -70px;
        }
        .text-container-4-mid {
            width: calc(50% - 10px);
            .p-container {
                width: 300px;
            }
        }
        .text-card-4 {
            position: absolute;
            top: 0;
            right: 0;
            width: calc(50% - 10px);
            height: 100%;
            padding: $padding*6 $padding*4;
            display: flex;
            flex-direction: column;
            flex-flow: wrap;
            background-color: $color-four;
            h1 {
                @include h1_small;
                color: $color-five;
            }
        }
    }
    .row-bot {
        .image-container-4-bot {
            background-image: url("/img/bakery-process-3.jpg");
            background-size: 120% 110%;
            background-position-x: -100px;
        }
    }
}
// ///////////////////////////////////////////// - SECTION 5 - /////////////////////////////////////////////////////
.section-5 {
    text-align: center;
    .row-5 {
        width: 100%;
        display: flex;
        .img-container-5-righ {
            background-color: $color-six;
        }
        .img-container-5-left {
            background-color: $color-seven;
        }
        .contacts-container-5 {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            margin-bottom: $margin*2;
        }
    }
}
// ///////////////////////////////////////////// - SECTION 6 - /////////////////////////////////////////////////////
.section-6 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    img {
        width: calc(25% - 20px);
        margin-bottom: $margin*2;
    }
    .social-container-6 {
        width: 48.7%;
        background-color: $color-four;
        margin: 0 $margin $margin*2 $margin;
        padding: $padding*4 0;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
}
// ///////////////////////////////////////////// - SECTION 7 - /////////////////////////////////////////////////////
.section-7 {
    position: relative;
    margin-bottom: 0;
    .img-container-7 {
        width: 100%;
        height: 380px;
        background-image: url("/img/call-to-action-bg.jpg");
        background-size: 115% 100%;
        background-position-x: -90px;
        filter: contrast(100%) brightness(90%);
        z-index: 0;
    }
    .text-container-7 {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-left: $padding*25;
        h1 {
            @include h1_small;
            width: 450px;
        }
    }
}
