$spacing: 10px;
$no-margin: 0;
$font-size: 10px;


$color-one: #ffffff;
$color-two: #0e0e0d;
$color-three: #c6c6c6;
$color-four: rgba(189, 162, 243, 0.2);
$color-five: rgb(91, 44, 162);
$color-six: rgba(240, 202, 161, 0.2);
$color-seven: rgb(242, 249, 251);
$color-eight: rgba(91, 44, 162, 0.5);
$color-nine: #656464;
$color-ten: #0a5e6c;
$color-eleven: #f0caa1;
$color-twelve: #d68843;
$color-thirteen: #287a00;
$color-fourteen: #282d2c;
$color-fitheen: #e9dedc;
$color-sixteen: #694a3a;
$color-seventeen: #9f7651;
$color-eighteen: #878589;
$color-nineteen: #b77c49;
$color-twenty: #b2927b;
$color-twentyone: #086875;
$color-twentytwo: #344747;
$color-twentythree: #d6b28d;
$color-twentyfour: #3cb102;
